p {
    font-family: 'Space Mono', monospace;
}

.navigation li {
    display: inline;
    font-family: 'Space Mono', monospace;
    font-size: 2em;
}

.navigation li+li::before {
  content: " /";
  color: #444444;
}

.navigation a {
    text-decoration: none;
}

